
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Apprendre l'informatique </title>
  </head>

  <body>
<p id="notice"><%= notice %></p>
  <div class="container">
  <div class="jumbotron">
      <div class="container">
        <h1>Bienvenu!, élève !</h1>
        <p>ce site à pour l'objectif de vous aider à bien comprendre le cours, faire des TPs, et répondre à des éxercices.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Apprendre Plus &raquo;</a></p>
      </div>
    </div>
    </div>
 


<div class="container">
<h1>Liste des scéances</h1>
<div class="row">
<% @seances.each do |seance| %>

  <div class="box_index">
      <div class="panel panel-success">
        <div class="panel panel-heading">
          <%= seance.titre %>
        </div>
        <div class="panel panel-body">
         <%= truncate(seance.contenu, length: 20) %>
        </div>
       <p><%= link_to "Acceder", seance, class: "btn btn-default" %></p> 

      </div>
      
  </div>

  <% end %>
</div>
</div>
  </body>
</html>



